<div class="author">
    <h1 class="author__heading">Hi, I am Raddy.</h1>
    <p class="author__body">Web developer and content creator</p>

    <img src="/img/hero-image.webp">
    <section class="articles">
        <h2 class="articles__heading">Seat Status</h2>

        <ul class="article-ul">
            <% users.forEach((user, index) => { %>
            <li>
                <a href="#">
                    <span class="user" data-id="<%= user._id %>"><%= user.name %></span>
                    <span id="user-status-<%= user._id %>" class="<%= index === 0 ? 'current' : 'hidden' %>">Current</span>
                </a>
            </li>
            <% }) %>
        </ul>

        <ul class="article-ul">
            <% data.forEach(seat => { %>
            <li>
                <a href="#">
                    <span><%= seat.number %></span>
                    <span class="seat <%= seat.status ? 'occupied' : 'available' %>"><%= seat.status ? 'Occupied' : 'Available' %></span>
                    <span class="article-list__date"><% seat.createdAt %></span>
                </a>
            </li>
            <% }) %>
        </ul>

    </section>
</div>
